body {
    width: 100%;
    margin: 0;
    background: url(pictures/pool.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Xanh Mono', monospace;
    font-size: 34px;
    color: rgb(255, 255, 255);
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
h1 {
    font-size: 26px;
}
@media only screen and (max-width: 800px) {
    .h1 {
        font-size: 20px;
    }
}
h3 {
    font-size: 34px;
}
@media only screen and (max-width: 800px) {
    h3 {
        font-size: 28px;
    }
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px 0 10px 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    box-shadow: 0 10px 0 -20px grey;
}
.header_title {
    opacity: 1;
    cursor: pointer;
}
@media only screen and (max-width: 700px) {
    .header_title  {
        font-size: 30px;
    }
}
@media only screen and (max-width: 300px) {
    .header_title  {
        font-size: 24px;
    }
}
.header_menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 1260px) {
    .header_menu {
        width: 40%;
        font-size: 30px;
    }
}
@media only screen and (max-width: 950px) {
    .header_menu {
        font-size: 24px;
    }
}
@media only screen and (max-width: 700px) {
    .header_menu {
        display: none;
    }
}
.header_menu p:hover {
    cursor: pointer;
    text-decoration: underline;
}
.header_main_menu {
    display: none;
}
@media only screen and (max-width: 700px) {
    .header_main_menu {
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 30px 5% 10px 5%;
        background-color: rgb(0, 0, 0);
        opacity: 0.5;
        box-shadow: 0 10px 0 -20px grey;
        font-size: 24px;
    }
}
.header_socials {
    width: 12%;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 950px) {
    .header_socials {
        width: 18%;
    }
}
@media only screen and (max-width: 700px) {
    .header_socials {
        width: 36%;
    }
}
.header_socials img {
    width: 36px;
    height: 36px;
    filter: invert(100%);
    cursor: pointer;
}

.post {
    width: 50%;
    margin: 80px 44% 0;
    padding: 10px 2% 40px 2%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    box-shadow: 10px 10px 10px -20px grey;
}
@media only screen and (max-width: 950px) {
    .post {
        width: 50%;
    }
}
@media only screen and (max-width: 800px) {
    .post {
        width: 60%;
        margin: 30px 32%  0;
        padding: 10px 16px 20px 16px;
    }
}
@media only screen and (max-width: 400px) {
    .post {
        width: 70%;
        margin: 30px auto 0;
    }
}
.fullText {
    margin-bottom: 40px;
    font-size: 24px;
    white-space: pre-wrap;
}
@media only screen and (max-width: 800px) {
    .fullText {
        margin-bottom: 20px;
        font-size: 18px;
    }
}
.link {
    font-size: 20px;
}
@media only screen and (max-width: 800px) {
    .link {
        font-size: 14px;
    }
}