body {
    width: 100%;
    margin: 0;
    background: url(pictures/pool.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Xanh Mono', monospace;
    font-size: 34px;
    color: rgb(255, 255, 255);
    word-wrap:break-word
}
p {
    margin: 0;
}
@media only screen and (max-width: 700px) {
    p {
        font-size: 20px;
    }
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
textarea {
    height: 1.2em;
    margin: 10px 0;
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    resize: none;
}
button {
    width: 200px;
    height: 70px;
    margin: 60px auto 0;
    background-color: rgb(0, 0, 0);
    font-family: 'Xanh Mono', monospace;
    font-size: 26px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    box-shadow: 10px 10px 10px -20px grey;
    cursor: pointer;
    border: 1.5px solid rgb(255, 255, 255);
    outline: none;
}
@media only screen and (max-width: 950px) {
    button {
        margin: 40px auto 0;
        font-size: 20px;
    }
}
@media only screen and (max-width: 800px) {
    button {
        width: 30%;
        margin: 30px auto 0;
        font-size: 18px;
    }
}
@media only screen and (max-width: 400px) {
    button {
        font-size: 14px;
    }
}
button:hover {
    opacity: 1;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px 0 10px 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    box-shadow: 0 10px 0 -20px grey;
}
.header_title {
    opacity: 1;
    cursor: pointer;
}
@media only screen and (max-width: 700px) {
    .header_title  {
        font-size: 30px;
    }
}
@media only screen and (max-width: 300px) {
    .header_title  {
        font-size: 24px;
    }
}
.header_menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 1260px) {
    .header_menu {
        width: 40%;
        font-size: 30px;
    }
}
@media only screen and (max-width: 950px) {
    .header_menu {
        font-size: 24px;
    }
}
@media only screen and (max-width: 800px) {
    .header_menu {
        display: none;
    }
}
.header_menu p:hover {
    cursor: pointer;
    text-decoration: underline;
}
.header_main_menu {
    display: none;
}
@media only screen and (max-width: 800px) {
    .header_main_menu {
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 30px 5% 10px 5%;
        background-color: rgb(0, 0, 0);
        opacity: 0.5;
        box-shadow: 0 10px 0 -20px grey;
        font-size: 24px;
    }
}
.header_socials {
    width: 12%;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 950px) {
    .header_socials {
        width: 18%;
    }
}
@media only screen and (max-width: 700px) {
    .header_socials {
        width: 36%;
    }
}
.header_socials img {
    width: 36px;
    height: 36px;
    filter: invert(100%);
    cursor: pointer;
}
.form {
    display: flex;
    flex-direction: column;
}
.hidden_form {
    display: none;
}
.form p {
    font-size: 24px;
}
.form_previewText {
    height: 2.4em;
}
.form_fullText {
    height: 4.8em;
}
.publication {
    width: 50%;
    margin: 80px 44% 0;
    padding: 10px 2% 40px 2%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    box-shadow: 10px 10px 10px -20px grey;
}
@media only screen and (max-width: 950px) {
    .publication {
        width: 50%;
    }
}
@media only screen and (max-width: 800px) {
    .publication {
        width: 60%;
        margin: 30px 32% 0;
        padding: 10px 16px 20px 16px;
    }
}
@media only screen and (max-width: 400px) {
    .publication {
        width: 70%;
        margin: 30px auto 0;
    }
}
.element {
    width: 94%;
    display: flex;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
@media only screen and (max-width: 950px) {
    .element {
        width: 90%;
    }
}
@media only screen and (max-width: 800px) {
    .element {
        width: 86%;
    }
}
@media only screen and (max-width: 400px) {
    .element {
        width: 80%;
    }
}
.element div {
    width: 90%;
}
h1 {
    font-size: 20px;
}
h3 {
    font-size: 28px;
}
.preview {
    font-size: 20px;
    white-space: pre;
}
/* .text класс для fullText */
.text { 
    font-size: 20px;
}
.trash {
    width: 40px;
    height: 100%;
    filter: invert(100%);
    cursor: pointer;
}